<%- partial('_partial/head') %>

<body class="<% if (is_home()){ %>body-homepage<% } else { %>body-post<% } %>">
  <%- partial('_partial/menu') %>
  <div class="body-wrap">
    <section class='main' id="main"><%- body %></section>
  </div>

  <% if (is_home()){ %>
    <script>
    (function(){
      var delays = [0, 1360, 2240],
          els = document.querySelectorAll('.hiddenSoft');
      [].forEach.call(els, function(el,i,a) {
        setTimeout(function(){
          el.classList.add('animated');
        }, delays[i] )
      });
    })();
    </script>
  <% } %>

  <!-- build:js /js/combined.js -->
  <%- js('/js/libs/pjax-standalone.min.js') %>
  <%- js('/js/libs/gsap-EasePack.min.js') %>
  <%- js('/js/libs/gsap-TimelineLite.min.js') %>
  <%- js('/js/libs/gsap-TweenLite.min.js') %>
  <%- js('/js/libs/gsap-CSSPlugin.min.js') %>
  <%- js('/js/libs/lazysizes.min.js') %>
  <%- js('/js/libs/instafeed.min.js') %>
  <%- js('/js/libs/dragdealer.min.js') %>

  <%- js('/js/app') %>
  <%- js('/js/kudos') %>
  <!-- endbuild -->
</body>
</html>




