<%- partial('_partial/head') %>

<body class="<% if (is_home()){ %>body-homepage<% } else { %>body-post<% } %>">
  <%- partial('_partial/loader') %>
  <div class="body-wrap">
    <section class='main' id="main"><%- body %></section>
    <%- partial('_partial/menu') %>
  </div>


  <%- js('js/libs/gsap.min.js') %>
  <%- js('js/libs') %>
  <%- js('js/script') %>


  <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
  <%- js('js/kudos') %>
</body>
</html>




