<%- partial('_partial/head') %>

<body class="<% if (is_home()){ %>body-homepage<% } else { %>body-post<% } %>">
  <%- partial('_partial/loader') %>
  <div class="body-wrap">
    <section class='main' id="main"><%- body %></section>
    <%- partial('_partial/menu') %>
  </div>

  <!-- build:js /js/combined.js -->
  <%- js('js/libs') %>
  <%- js('js/kudos') %>
  <%- js('js/script') %>
  <!-- endbuild -->
</body>
</html>




