<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="utf-8">
  <%- partial('inline-in-head') %>
  <%
    var title = page.title;
    var checkTitle = page.title || "Home";

    var img = "/images/social/fb.png"
    if (is_post()) { var img = page.projectImage }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%- open_graph({
    image: "http://greenwoodents.com" + img,
    twitter_id: theme.twitter,
    google_plus: theme.google_plus,
    fb_admins: theme.fb_admins,
    fb_app_id: theme.fb_app_id
  }) %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="16x16 32x32 96x96">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <%- js('js/pace.min.js') %>
  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>

<script>
(function(){var h = document.getElementsByTagName('head')[0],s = document.createElement('style');s.setAttribute('type', 'text/css');s.setAttribute('href', '//cloud.typography.com/6555912/607568/css/fonts.css');h.appendChild(s);})();
</script>
