<div class="values project-color-cara">
  <div class="js-hidden-box money-time-what-we-did" id="how-much-it-cost">
    <div class="details">
      <div class="default-detail">
        <span class="h2 project-color">HOW MUCH DID IT COST</span>
        <p class="sentinel"><%= post.howMuch %></p>
      </div>
      <div class="alternative-detail">
        <span class="h2 project-color">HOW WE CALCULATE IT</span>
        <p class="sentinel"><%= post.howWeCalc %></p>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="1" viewBox="0 0 24 1" class="line clear">
   <rect x="0" y="0" width="24" height="1" opacity="0.28" fill="#212e29" />
  </svg>
  <div class="js-hidden-box money-time-what-we-did" id="how-long-it-take">
    <div class="details">
      <div class="default-detail">
        <span class="h2 project-color">HOW LONG DID IT TAKE</span>
        <p class="sentinel"><%= post.howLongItTake %></p>
      </div>
      <div class="alternative-detail">
        <span class="h2 project-color">WHAT WAS THE PLAN</span>
        <p class="sentinel"><%= post.whatWasPlan %></p>
      </div>
    </div>
  </div>

  <img src="../images/line.svg" class="line">
  <div class="js-hidden-box money-time-what-we-did last-mtw" id="what-we-did">
    <div class="details">
      <div class="default-detail">
        <span class="h2 project-color">WHAT WE DID</span>
        <p class="sentinel"><%= post.whatWeDid %></p>
      </div>
      <div class="alternative-detail">
        <span class="h2 project-color">WHEN WE DID IT</span>
        <p class="sentinel"><%= post.whenWeDidIt %></p>
      </div>
    </div>
  </div>
</div>
